#logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.col-12{
    background-color: black;
    height: 180px;
    border-radius: 10px;
}
h1{
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
.kezdlap{
    font-size: 220%;
    margin-left: 90px;
    margin-right: 90px;
    position: absolute;
}
.autok{
    font-size: 220%;
    position: absolute;
    margin-left: 250px;
    margin-right: 250px;
}

.box{
    float: left;
    box-shadow: 7px 7px 5px black;
    width: 400px;
}

#Bugatti{
    width: 200px;
}