#logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.col-12{
    background-color: black;
    height: 180px;
    border-radius: 10px;
}
h1{
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
.kezdlap{
    font-size: 220%;
    margin-left: 90px;
    margin-right: 100px;
    position: absolute;
    margin-top: 15px;
}
.autok{
    font-size: 220%;
    position: absolute;
    margin-left: 270px;
    margin-right: 250px;
    margin-top: 15px;
}

.box-left{
    float: left;
    box-shadow: 7px 7px 20px black;
    width: 400px;
    margin-top: 40px;
    height: 250px;
}

#auto{
    width: 200px;
}

#logo{
    margin-bottom: 20px;
}

#elsoauto{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#details{
    float: right;
    margin-top: 30px;
    margin-right: 60px;
}

#erdekesseg{
    margin-bottom: 50px;
}

.linkgomb{
    line-height: 30px;
    margin-top: 25px;
    margin-left: 100px;
    box-shadow: 2px 2px 20px;
}

.box-right{
    float: right;
    box-shadow: 7px 7px 20px black;
    width: 400px;
    margin-top: 40px;
    height: 250px;
}